.content a code {
    text-decoration: underline;
}

.content aside {
    padding-top: 0.1em;
    margin-left: 0.6em;
    padding-left: 1.2em;
    border-left: 3px solid #ccc;
    padding-bottom: 0.1em;
    margin-bottom: 0.6em;
}

.content aside *:first-child {
    margin-top: 0.2em;
}

.content aside *:last-child {
    margin-bottom: 0.2em;
}

.content aside.todo {
    border-left-color: #ffff00;
}

.content aside.shortcut {
    border-left-color: #aec58f;
}
